<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="container text-center">
        <div class="card shadow-lg border-danger">
            <div class="card-body">
                <h1 class="text-danger"> Acesso não autorizado! </h1>
                <p class="lead">Você não possui privilégios para acessar esta página.</p>
                <hr>
                <p>Se você acredita que isso é um erro, entre em contato com o administrador.</p>
                <button (click)="LocationBack()" class="btn btn-primary mt-3"> Voltar à Página Anterior </button>
            </div>
        </div>
    </div>
</div>