<app-navbar/>

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-purple text-white">
            <h4 class="mb-0">Cadastro de Fornecedor</h4>
        </div>
        <div class="card-body">
            <div *ngIf="mensagem" class="alert alert-success mb-2 alert-dismissible">
                <strong>Sucesso!</strong> {{ mensagem }}
                <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
            </div>

            <div *ngIf="mensagem_erro" class="alert alert-danger mb-2 alert-dismissible">
                <strong>Erro!</strong> {{ mensagem_erro }}
                <button (click)="mensagem_erro = ''" type="button" class="btn-close" aria-label="Close"></button>
            </div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome do Fornecedor</label>
                    <input type="text" class="form-control" formControlName="nome" placeholder="Digite o nome do produto">
                    <div class="text-danger" *ngIf="form.get('nome')?.touched && form.get('nome')?.invalid">
                        Por favor, informe o nome do produto com no mínimo 10 caracteres e no máximo 100 caracteres.
                    </div>
                </div>

                <div class="d-flex">
                    <input type="submit" class="btn btn-success" [disabled]="form.invalid" value="Realizar Cadastro"/>
                </div>
            </form>
        </div>
    </div>
</div>